<p>customvalidation works!</p>

<form [formGroup]="loginForm" style="display: flex; gap: 20px; flex-direction: column; width: 400px; margin: auto; padding-top: 100px;">
    <h1>Login</h1>
    <input formControlName="username" type="text" name="username" placeholder="username">
    <input formControlName="password" type="password" name="password" placeholder="password">
    <div *ngIf="!loginForm.get('password')?.valid && loginForm.get('password')?.touched">
        Invalid Password
    </div>
    <button type="submit" [disabled]="!loginForm.valid">Login</button>
</form>