<p>ng-contnet Component</p>

<div class="row">
    <div class="col-md-6">
        <app-card>
            <h5 class="card-title">Laptop</h5>
            <a routerLink="laptop" class="btn btn-success">Know More About Laptop</a>
        </app-card>
    </div>
    <div class="col-md-6">
        <app-card>
            <h5 class="card-title">Mobile</h5>
            <a routerLink="Mobile" class="btn btn-success">Know More About Mobile</a>
        </app-card>
    </div>
    <div class="col-md-6">
        <app-card>
            <h5 class="card-title">TV</h5>
            <a routerLink="TV" class="btn btn-success">Know More About Tv</a>
        </app-card>
    </div>
</div>